/*Francisco Daniel Castillejo Flores 2015*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,400);

body {
	line-height: 1.42857143;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

/*Navbar*/
.navbar {
	border-radius: 0px;
}

.navbar-default {
	border: none;
	/*border-bottom: 1px solid #d6e1e5;*/
	background-color: #673ab7;
	/*background: -webkit-linear-gradient(90deg, #00c6ff 10%, #0072ff 90%);*/ /* Chrome 10+, Saf5.1+ */
	/*background:    -moz-linear-gradient(90deg, #00c6ff 10%, #0072ff 90%);*/ /* FF3.6+ */
	/*background:     -ms-linear-gradient(90deg, #00c6ff 10%, #0072ff 90%);*/ /* IE10 */
	/*background:      -o-linear-gradient(90deg, #00c6ff 10%, #0072ff 90%);*/ /* Opera 11.10+ */
	/*background:         linear-gradient(90deg, #00c6ff 10%, #0072ff 90%);*/ /* W3C */
        
}

.navbar-default .navbar-nav > li > a {
	color: rgba(255, 255, 255, 0.8);
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 600;
}

.navbar-brand {
	padding: 28px 0;
}

/*Items*/
.hostname {
	font-weight: 700;
}

.title {
	display: block;
	font-size: 1.4em;
	font-weight: 600;
}


.title a:visited {
	color: #aab2bd;
}

.title a:hover {
	color: #009dcd
}

.counter {
	display: block;
	margin-top: 5px;
}

.item-entry {
	margin: 10px 0;
}

.item-counter {
	padding-left: 0;
}

.item-counter .btn{
	margin: 15px 0;
}

.btn-purple.btn-embossed[disabled] {
	color: #656d78;
	/*background-color: #f5f7fa;*/
	-webkit-box-shadow: 0 5px #ccd1d9;
  	box-shadow: 0 5px #ccd1d9;
}

.item-link {
	border-bottom: 1px solid #e6e9ed;
	padding: 10px 0;
}

.item-meta {
	font-size: 0.8em;
}

.item-meta .separator {
	margin: 0 0.5em;
}

.loading {
	background-color: red;
}

.item-list .more {
	margin: 20px 0;
}

footer {
	border-top: 2px solid #d6e1e5;
	padding: 3em 0 1em;
	margin: 1em 0 2em;
}