/*Francisco Daniel Castillejo Flores 2015*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,400);

body {
	line-height: 1.42857143;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

a {
	color: #9175bd;
}

a:hover,
a:focus {
	color: #a200ff;
}

/*Navbar*/
.navbar {
	min-height: 48px;
	border-radius: 0px;
}

.navbar-default {
	border: none;
	/*border-bottom: 1px solid #d6e1e5;*/
	background-color: rgba(255, 255, 255, .95);
	/*border-bottom: 1px solid rgba(0, 0, 0, .1);*/
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .07);
	box-shadow: 0 1px 0 rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.1);
	/*background: -webkit-linear-gradient(90deg, #9d50bb 10%, #6e48aa 90%);*/ /* Chrome 10+, Saf5.1+ */
	/*background:    -moz-linear-gradient(90deg, #9d50bb 10%, #6e48aa 90%);*/ /* FF3.6+ */
	/*background:     -ms-linear-gradient(90deg, #9d50bb 10%, #6e48aa 90%);*/ /* IE10 */
	/*background:      -o-linear-gradient(90deg, #9d50bb 10%, #6e48aa 90%);*/ /* Opera 11.10+ */
	/*background:         linear-gradient(90deg, #9d50bb 10%, #6e48aa 90%);*/ /* W3C */        
}

.navbar-default .navbar-nav > li > a {
	/*color: rgba(255, 255, 255, 0.8);*/
	color: #9175bd;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	/*font-weight: 600;*/
}

.navbar-nav > li > a > [class^="icon-"], 
.navbar-nav > li > a > [class*=" icon-"] {
	line-height: 18px;
	vertical-align: top;
	margin-right: 5px;
}

[class^="ion-"], 
[class*=" ion-"] {
	font-size: 1.2em;
	vertical-align: middle;
}

.navbar-brand {
	padding: 8px 0;
}

.navbar-brand [class^="icon-"]  {
	font-size: 1.7em;
	margin-right: 0.5em;
}

.navbar-default .navbar-brand {
	color: #9175bd;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #a200ff;
	background-color: transparent;
}

.navbar-nav > li > a {
	padding-top: 14px;
	padding-bottom: 14px;
	font-size: 14px;
}

.nav li a.dropdown-toggle > [class^="ss-"],
.nav li a.dropdown-toggle > [class^="fa-"],
.nav li a.dropdown-toggle > [class^="icon-"],
.nav li a.dropdown-toggle > [class^="ion-"] {
	position: relative;
	top: 0;
	font-size: 16px;
	margin-left: 3px;
	margin-right: 8px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #fff;
	background-color: #967adc;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	color: #fff;
	background-color: #967adc;
}

.navbar-nav .dropdown-menu {
	border-width: 1px;
	border: 1px solid rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, .1);
	box-shadow: 0 2px 7px rgba(0, 0, 0, .1);
}

.dropdown-menu > li > a {
	font-size: 14px;
}

.dropdown-menu > li > a:hover {
 	background-color: #967adc;
	color: #fff;
}

.dropdown-menu .divider {
	margin: 6px 0;	
}

.text-muted {
	color: #b2c6cd;
}

.container-fluid {
	margin-top: 70px;
}

/*Items*/
.hostname {
	font-weight: 700;
	font-size: 0.8em;
}

.title {
	display: block;
	font-size: 1.15em;
	font-weight: 600;
}

.title a:visited {
	color: #93a4aa;
}

.title a:hover {
	color: #a200ff;
}

.counter {
	display: block;
	margin-top: 5px;
}

.item-entry {
	margin: 10px 0;
	border-radius: 6px;
	border: 1px solid #e6e9ed;
}

.item-counter {
	/*padding-left: 0;*/
}

.item-counter .btn{
	margin: 15px 0;
}

/*.btn-purple {
	color: #ffffff;
	background-color: #967adc;
}

.btn-embossed.btn-purple {
	-webkit-box-shadow: 0 5px #8E44AD;
	box-shadow: 0 5px #8E44AD;
}*/

.btn-purple.btn-embossed[disabled] {
	color: #656d78;
	-webkit-box-shadow: 0 5px #ccd1d9;
  	box-shadow: 0 5px #ccd1d9;
}

.item-link {
	/*border-bottom: 1px solid #e6e9ed;*/
	padding: 10px 10px 10px;
}

.item-meta {
	font-size: 0.8em;
}

.item-meta .separator {
	margin: 0 0.5em;
}

.item-tags .label {
	margin-left: 5px;
	font-size: 85%;
}

.loading {
	/*display: none;*/
}

.loader {
	text-align: center;
}

.item-list .more {
	margin: 20px 0;
}

footer {
	/*border-top: 2px solid #d6e1e5;*/
	padding: 3em 0 1em;
	margin: 1em 0 2em;
}

.btn {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	text-transform: none;
}

.user-profile {
	text-align: center;
	background-color: #b993d6;
	color: rgba(255, 255, 255, 0.7);
	padding: 20px;
	border-radius: 6px;
	margin-bottom: 20px;
	background: -webkit-linear-gradient(135deg, #b993d6 10%, #8ca6db 90%); /* Chrome 10+, Saf5.1+ */
	background:    -moz-linear-gradient(135deg, #b993d6 10%, #8ca6db 90%); /* FF3.6+ */
	background:     -ms-linear-gradient(135deg, #b993d6 10%, #8ca6db 90%); /* IE10 */
	background:      -o-linear-gradient(135deg, #b993d6 10%, #8ca6db 90%); /* Opera 11.10+ */
	background:         linear-gradient(135deg, #b993d6 10%, #8ca6db 90%); /* W3C */
}

.user-profile .avatar {
	margin-bottom: 20px;
}

.user-profile .lead {
	margin-bottom: 10px;
	color: #fff;
}

.user-profile p {
	color: rgba(255, 255, 255, 0.7);
}

.user-profile strong {
	color: #fff;
	display: block;
}

.user-profile .icons {
	margin-bottom: 20px;
}

.user-profile .icons a {
	color: #fff;
}

.user-profile .icons span {
	margin-right: 10px;
}

/*modal scrollbar must die*/
body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
    margin-right: 0;
}

.modal {
    overflow-y: auto;
}

.jelly {
  -webkit-animation: animation 700ms linear both;
  animation: animation 700ms linear both;
}

/* Generated with Bounce.js. Edit at http://goo.gl/VcThQ3 */

@-webkit-keyframes animation { 
  0% { -webkit-transform: matrix3d(0.5, 0, 0, 0, 0, 0.25, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.5, 0, 0, 0, 0, 0.25, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  5.81% { -webkit-transform: matrix3d(0.711, 0, 0, 0, 0, 0.528, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.711, 0, 0, 0, 0, 0.528, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  7.61% { -webkit-transform: matrix3d(0.768, 0, 0, 0, 0, 0.624, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.768, 0, 0, 0, 0, 0.624, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  11.41% { -webkit-transform: matrix3d(0.869, 0, 0, 0, 0, 0.812, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.869, 0, 0, 0, 0, 0.812, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  11.61% { -webkit-transform: matrix3d(0.873, 0, 0, 0, 0, 0.821, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.873, 0, 0, 0, 0, 0.821, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  15.12% { -webkit-transform: matrix3d(0.941, 0, 0, 0, 0, 0.954, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.941, 0, 0, 0, 0, 0.954, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.42% { -webkit-transform: matrix3d(0.973, 0, 0, 0, 0, 1.017, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.973, 0, 0, 0, 0, 1.017, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.92% { -webkit-transform: matrix3d(0.99, 0, 0, 0, 0, 1.047, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99, 0, 0, 0, 0, 1.047, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  22.72% { -webkit-transform: matrix3d(1.019, 0, 0, 0, 0, 1.091, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.019, 0, 0, 0, 0, 1.091, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  23.12% { -webkit-transform: matrix3d(1.021, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.021, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  30.23% { -webkit-transform: matrix3d(1.036, 0, 0, 0, 0, 1.087, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.036, 0, 0, 0, 0, 1.087, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  30.33% { -webkit-transform: matrix3d(1.036, 0, 0, 0, 0, 1.087, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.036, 0, 0, 0, 0, 1.087, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  37.44% { -webkit-transform: matrix3d(1.028, 0, 0, 0, 0, 1.045, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.028, 0, 0, 0, 0, 1.045, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  44.54% { -webkit-transform: matrix3d(1.016, 0, 0, 0, 0, 1.013, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.016, 0, 0, 0, 0, 1.013, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  50.25% { -webkit-transform: matrix3d(1.008, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.008, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  51.65% { -webkit-transform: matrix3d(1.006, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.006, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  70.27% { -webkit-transform: matrix3d(0.998, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.998, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  80.28% { -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@keyframes animation { 
  0% { -webkit-transform: matrix3d(0.5, 0, 0, 0, 0, 0.25, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.5, 0, 0, 0, 0, 0.25, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  5.81% { -webkit-transform: matrix3d(0.711, 0, 0, 0, 0, 0.528, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.711, 0, 0, 0, 0, 0.528, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  7.61% { -webkit-transform: matrix3d(0.768, 0, 0, 0, 0, 0.624, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.768, 0, 0, 0, 0, 0.624, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  11.41% { -webkit-transform: matrix3d(0.869, 0, 0, 0, 0, 0.812, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.869, 0, 0, 0, 0, 0.812, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  11.61% { -webkit-transform: matrix3d(0.873, 0, 0, 0, 0, 0.821, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.873, 0, 0, 0, 0, 0.821, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  15.12% { -webkit-transform: matrix3d(0.941, 0, 0, 0, 0, 0.954, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.941, 0, 0, 0, 0, 0.954, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.42% { -webkit-transform: matrix3d(0.973, 0, 0, 0, 0, 1.017, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.973, 0, 0, 0, 0, 1.017, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.92% { -webkit-transform: matrix3d(0.99, 0, 0, 0, 0, 1.047, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99, 0, 0, 0, 0, 1.047, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  22.72% { -webkit-transform: matrix3d(1.019, 0, 0, 0, 0, 1.091, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.019, 0, 0, 0, 0, 1.091, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  23.12% { -webkit-transform: matrix3d(1.021, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.021, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  30.23% { -webkit-transform: matrix3d(1.036, 0, 0, 0, 0, 1.087, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.036, 0, 0, 0, 0, 1.087, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  30.33% { -webkit-transform: matrix3d(1.036, 0, 0, 0, 0, 1.087, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.036, 0, 0, 0, 0, 1.087, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  37.44% { -webkit-transform: matrix3d(1.028, 0, 0, 0, 0, 1.045, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.028, 0, 0, 0, 0, 1.045, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  44.54% { -webkit-transform: matrix3d(1.016, 0, 0, 0, 0, 1.013, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.016, 0, 0, 0, 0, 1.013, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  50.25% { -webkit-transform: matrix3d(1.008, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.008, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  51.65% { -webkit-transform: matrix3d(1.006, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.006, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  70.27% { -webkit-transform: matrix3d(0.998, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.998, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  80.28% { -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}
